#!/bin/bash

NAME={{ application_name }}
FLASKDIR={{ project_path }}
SOCKFILE={{ virtualenv_path }}/run/gunicorn.sock
USER={{ app_user }}
GROUP={{ app_group }}
NUM_WORKERS={{ gunicorn_num_workers }}

# Set this to 0 for unlimited requests. During development, you might want to
# set this to 1 to automatically restart the process on each request (i.e. your
# code will be reloaded on every request).
MAX_REQUESTS={{ gunicorn_max_requests }}

echo "Starting $NAME as `whoami`"

# Activate the virtual environment.
cd $FLASKDIR
source {{ virtualenv_path }}/bin/activate

# Run the postactivate script to set additional environment variables
source {{ virtualenv_path }}/bin/postactivate

# Create the run directory if it doesn't exist.
RUNDIR=$(dirname $SOCKFILE)
test -d $RUNDIR || mkdir -p $RUNDIR

# Programs meant to be run under supervisor should not daemonize themselves
# (do not use --daemon).
# Note the --timeout setting (default is 30s)
exec gunicorn \
    --name $NAME \
    --workers $NUM_WORKERS \
    --max-requests $MAX_REQUESTS \
    --timeout 60 \
    --user $USER --group $GROUP \
    --log-level debug \
    --bind unix:$SOCKFILE \
    runserver:app
